body {
  color: #40514E;
  margin: 0px;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  font-size: 5.65rem;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", sans-serif;
  color: #66BFBF;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

p {
  line-height: 2;
}

h2 {
  color: #66BFBF;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999E;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.top-container {
  background-color: #aeefec;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px auto;
}

.intro {
  width: 30%;
  margin: auto;
}

.bottom-container {
  background-color: #66BFBF;

  padding:50px 0 0 ;

}

.skill-row1 {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.skill-row2 {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.contact-me1 {
  width: 40%;
  margin: 40px auto 60px;
}

.code-image {

  width: 25%;
  float: left;
  margin-right: 30px;
}

.cartoon-image {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: : 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.btn {
  -moz-box-shadow: 0px 1px 0px 0px #30e3cb;
  -webkit-box-shadow: 0px 1px 0px 0px #30e3cb;
  box-shadow: 0px 1px 0px 0px #30e3cb;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #11cdd4), color-stop(1, #11999e));
  background: -moz-linear-gradient(center top, #11cdd4 5%, #11999e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#11cdd4', endColorstr='#11999e');
  background-color: #11cdd4;
  -webkit-border-top-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-left-radius: 8px;
  text-indent: 0;
  border: 0.994318px solid #057fd0;
  display: inline-block;
  color: #ffffff;
  font-family: arial;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  height: 50px;
  line-height: 50px;
  width: 140px;
  text-decoration: none;
  text-align: center;
  text-shadow: 0px -1px 0px #2bc4ad;
}

.btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #11999e), color-stop(1, #11cdd4));
  background: -moz-linear-gradient(center top, #11999e 5%, #11cdd4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#11999e', endColorstr='#11cdd4');
  background-color: #11999e;
}

.btn:active {
  position: relative;
  top: 1px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
